.search-wrapper {
  width: 400px;
}

.example-full-width {
  width: 100%;
}

.team-stadium {
  width: 100%;
}

.example-header-image {
  background-size: cover;
}

.stadium-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}
